@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    height: 100%;
    width: 100%;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            background: rgb(54, 212, 193);
            color: white;
        }
    }

    .sticky {
        position: fixed;
        z-index: 10;
    }
    .navbar--container {
        background: rgba(54, 212, 193, 0.9);
        right: 0;
        margin-top: 1.8rem;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar--icon {
        font-size: 1.5em;
        color: black;
        &:hover {
            cursor: pointer;
        }
    }

    //navigation open

    .nav--open {
        right: 0;
        padding-top: 1.2rem;
        height: 100vh;
        width: 13rem;
        background: rgb(250, 250, 250);
        transition: all 0.4s ease-out;
        opacity: 1;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
        z-index: 1001;
    }

    .nav--open-icon {
        text-align: right;
        padding: 20px;
        i {
            font-size: 2em;
            color: rgb(54, 212, 193);
            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    }

    .nav--open-title {
        font-family: serif;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align: center;
        margin-top: 35%;
    }

    .nav--open-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        a {
            font-size: 2em;
            font-weight: 100;
            font-family: serif;
            padding: 15px 0;
        }
    }

    .close {
        transform: translateX(300px);
        transition: all 0.4s ease-out;
        opacity: 0;
    }

    
}

header {
    height: 5rem;
    max-width: 100%;
    margin: 1rem 0 2rem 0;
    background-image: url("../img/image.png");
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    height: 3rem;
    background-color: rgb(54, 212, 193);
    margin-top: 2rem;
}

#index {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 3rem;
    grid-template-areas: "info-1 chart" "info-2 chart" "country chart";
    text-align: center;

    .cards {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem auto 2rem 2rem;
        max-width: 48vw;

        .card {
            text-align: center;
            background-color: white;
            min-width: 5.9rem;
            max-width: 10rem;
            height: 10rem;
            border-radius: 10px;
            box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
                -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
            margin: auto 1rem;
            padding: 0.5rem 0.2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            padding: 1rem;

            h6 {
                font-size: 1rem;
                text-align: left;
                color: rgba(0, 0, 0, 0.5);
            }

            .number {
                align-self: center;
                margin: 0.3rem;
                font-size: 1.4rem;
                margin: auto;
                display: block;
                font-weight: bold;
            }

            .info {
                justify-self: flex-end;
                text-align: left;
                display: block;

                font-size: 0.8325rem;
            }

            &.all-infected,
            &.today-infected {
                border-bottom: 0.4rem solid rgba(0, 0, 255, 0.5);
                &:hover {
                    color: black;
                    background-color: rgba(0, 0, 255, 0.5);
                    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.9);
                    transition: 0.8s;
                }
            }

            &.all-recovered {
                border-bottom: 0.4rem solid rgba(0, 255, 0, 0.5);
                &:hover {
                    color: black;
                    background-color: rgba(0, 255, 0, 0.5);
                    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.9);
                    transition: 0.8s;
                }
            }

            &.all-deaths,
            &.today-deaths {
                border-bottom: 0.4rem solid rgba(255, 0, 0, 0.5);
                &:hover {
                    color: black;
                    background-color: rgba(255, 0, 0, 0.5);
                    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.9);
                    transition: 0.8s;
                }
            }

            &.today-active {
                border-bottom: 0.4rem solid rgba(54, 212, 193, 0.5);

                &:hover {
                    color: black;
                    background-color: rgba(54, 212, 193, 0.5);
                    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.9);
                    transition: 0.8s;
                }
            }
        }
    }

    .info-1 {
        grid-area: info-1;
    }

    .info-2 {
        grid-area: info-2;
    }

    .country {
        width: 100%;
        height: 1rem;
        grid-area: country;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        #country {
            width: 60%;
            height: 2rem;
            border-radius: 1rem;
            background-color: white;
            outline: none;
            border: 3px solid rgba(0, 0, 0, 0.7);
        }
    }

    .chart {
        grid-area: chart;
        max-width: 50vw;
        margin-left: 4rem;

        #myChart {
            height: 100%;
        }
    }
}

#map {
    width: 100%;
    height: calc(100vh - 13rem);
    padding: 0 4rem;
    display: flex;
    flex-direction: column;

    .choices {
        display: flex;
        justify-content: space-around;

        .select {
            width: 6rem;
            height: 2rem;
            border-radius: 10px;
            padding: 0.3rem;
            text-align: center;
            &:hover {
                cursor: pointer;
            }
            &:active {
                background-color: black;
            }

            &:nth-child(1) {
                border: solid 3px rgba(0, 0, 255, 0.8);
            }
            &:nth-child(2) {
                border: solid 3px rgba(0, 255, 0, 0.8);
            }
            &:nth-child(3) {
                border: solid 3px rgba(255, 0, 0, 0.8);
            }
        }
    }

    #mapid {
        margin-top: 1rem;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-height: 719px) {
    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3rem 2fr;
        grid-template-areas: "info-1" "info-2" "country" "chart";
        text-align: center;

        .cards {
            margin: 1rem auto 3rem auto;
            .card {
                min-width: 10rem;
                min-height: 12rem;
                max-width: 15rem;
                margin: 2rem;
            }
        }

        .chart {
            max-width: 100%;
            margin: 2rem 5rem;
        }
    }
}

@media only screen and (min-height: 1600px) {
    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3rem 5fr;
        grid-template-areas: "info-1" "info-2" "country" "chart";
        text-align: center;

        .cards {
            margin: 1rem auto 3rem auto;
            .card {
                min-width: 10rem;
                min-height: 12rem;
                max-width: 15rem;
                margin: 2rem;
            }
        }

        .chart {
            max-width: 100%;
            margin: 2rem 5rem;
        }
    }
}

@media only screen and (max-width: 851px) {
    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3rem 2fr;
        grid-template-areas: "info-1" "info-2" "country" "chart";
        text-align: center;

        .cards {
            margin: 1rem auto 2rem auto;
            .card {
                min-width: 8rem;
                max-width: 15rem;
            }
        }

        .chart {
            max-height: 30wh;
            max-width: 100%;
            margin: 0 1rem;
        }
    }
    
    #map {
        padding: 0 2.5rem;
    }
}

@media only screen and (max-width: 526px) {
    #index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3rem 2fr;
        grid-template-areas: "info-1" "info-2" "country" "chart";
        text-align: center;

        .cards {
            .card {
                min-width: 7rem;
                max-width: 15rem;
                margin: 1rem;
            }
        }

        .chart {
            max-height: 30wh;
            max-width: 100%;
            margin: 0 1rem;
        }
    }
    
    #map {
        padding: 0;
    }
}

@media only screen and (max-width: 426px) {
    body {
        font-size: 12px;
    }

    #index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3rem 1fr;
        grid-template-areas: "info-1 info-2" "country country" "chart chart";
        text-align: center;

        .cards {
            flex-direction: column;
            .card {
                min-width: 5rem;
                max-width: 15rem;
                margin: 0.5rem;
            }
        }

        .chart {
            max-height: 30wh;
            max-width: 100%;
            margin: 0 1rem;
        }
    }

    #map {
        padding: 0;
    }
}
